body {
    background-color: hsl(233, 47%, 7%);
}

.main {
    background-color: hsl(244, 38%, 16%);
    margin: 100px;
    border-radius: 20px;
}

.img {
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.conteiner1 {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}

#title {
    font-size: 48px;
}

@media (min-width: 1440px){
    .main {
        display: flex;
        flex-direction: row-reverse;
    }

    .stadistics {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .singleStadistic {
        padding: 5px;
    }
}